# TEAM 2

## Import Data

In [1]:
import pandas as pd
import numpy

In [2]:
dftest = pd.read_csv('data_test.csv', delimiter=';')
dftest.drop('No. Urut', axis=1, inplace=True)
dftest.head()

,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
0,192.0,200.0,68.0,280.0,148.0,188.0,343.0,253.0,166.0,187.0,156.0,313.0,148.0,76.0,16.0,146.0
1,142.0,87.0,0.0,234.0,150.0,297.0,0.0,225.0,96.0,278.0,0.0,240.0,96.0,88.0,168.0,114.0
2,149.0,160.0,67.0,224.0,135.0,155.0,159.0,157.0,139.0,136.0,159.0,150.0,136.0,158.0,248.0,179.0
3,177.0,100.0,167.0,170.0,91.0,104.0,92.0,95.0,101.0,210.0,97.0,108.0,90.0,240.0,200.0,98.0
4,273.0,62.0,341.0,344.0,196.0,39.0,143.0,252.0,224.0,0.0,120.0,234.0,159.0,95.0,118.0,47.0

In [7]:
dftrain = pd.read_csv('data_train.csv', delimiter=';')
dftrain.head()

,No,HURUF,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
0,1,HA,274,72,222,170,160,180,105,138,110,214,104,131,105,242,114,123
1,1,HA,114,3,77,87,56,51,104,94,56,45,164,61,36,92,110,31
2,1,HA,279,182,348,286,322,191,170,181,316,157,203,179,300,302,185,176
3,1,HA,92,53,202,117,67,76,153,83,66,75,146,78,56,142,90,60
4,1,HA,280,35,255,191,155,153,218,163,131,237,207,160,103,264,117,133

In [8]:
listHuruf = dftrain['HURUF'].unique()
listHuruf

array(['HA', nan, 'CA', 'RA', 'KA', 'DA', 'LA', 'TA', 'SA', 'WA', 'PA',
       'DHA', 'JA', 'YA', 'NYA', 'MA', 'GA', 'BA', 'THA', 'NGA'],
      dtype=object)

## Memproses data NULL

*dari semua data

In [55]:
dftest[140:]

,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
140,165.0,102.0,147.0,253.0,100.0,254.0,169.0,307.0,90.0,150.0,254.0,230.0,79.0,131.0,87.0,0.0
141,93.0,148.0,209.0,143.0,78.0,77.0,172.0,261.0,141.0,144.0,100.0,191.0,82.0,119.0,86.0,79.0
142,231.0,414.0,100.0,371.0,364.0,128.0,198.0,274.0,239.0,379.0,245.0,222.0,219.0,239.0,259.0,151.0
143,126.0,98.0,169.0,234.0,245.0,93.0,34.0,99.0,206.0,134.0,0.0,80.0,59.0,256.0,4.0,0.0
144,266.0,163.0,287.0,159.0,182.0,468.0,274.0,211.0,190.0,205.0,369.0,204.0,196.0,116.0,256.0,181.0
145,169.0,127.0,111.0,133.0,112.0,97.0,108.0,98.0,99.0,125.0,114.0,133.0,87.0,178.0,189.0,111.0
146,163.0,68.0,64.0,273.0,119.0,160.0,112.0,153.0,101.0,145.0,295.0,252.0,91.0,247.0,114.0,206.0
147,36.0,0.0,232.0,172.0,210.0,131.0,323.0,71.0,154.0,157.0,267.0,110.0,137.0,220.0,213.0,50.0
148,244.0,168.0,290.0,290.0,185.0,178.0,142.0,185.0,240.0,91.0,5.0,175.0,197.0,260.0,24.0,172.0
149,117.0,68.0,282.0,210.0,119.0,111.0,179.0,134.0,115.0,116.0,130.0,147.0,107.0,242.0,194.0,145.0
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
dftest.dropna(inplace=True)

In [58]:
dftest.isnull().sum()

Z1     0
Z2     0
Z3     0
Z4     0
Z5     0
Z6     0
Z7     0
Z8     0
Z9     0
Z10    0
Z11    0
Z12    0
Z13    0
Z14    0
Z15    0
Z16    0
dtype: int64

In [9]:
dftrain.isnull().sum()

No        0
HURUF    24
Z1        0
Z2        0
Z3        0
Z4        0
Z5        0
Z6        0
Z7        0
Z8        0
Z9        0
Z10       0
Z11       0
Z12       0
Z13       0
Z14       0
Z15       0
Z16       0
dtype: int64

*Dari filter data

In [11]:
dftrain[['No','HURUF']][20:50]

    No HURUF
20   1    HA
21   1    HA
22   1    HA
23   2   NaN
24   2   NaN
25   2   NaN
26   2   NaN
27   2   NaN
28   2   NaN
29   2   NaN
30   2   NaN
31   2   NaN
32   2   NaN
33   2   NaN
34   2   NaN
35   2   NaN
36   2   NaN
37   2   NaN
38   2   NaN
39   2   NaN
40   2   NaN
41   2   NaN
42   2   NaN
43   2   NaN
44   2   NaN
45   2   NaN
46   2   NaN
47   3    CA
48   3    CA
49   3    CA

In [12]:
dftrain[['No','HURUF']][20:50].isnull().sum()

No        0
HURUF    24
dtype: int64

Data Null di isi

In [7]:
dftrain['HURUF'].fillna(value='NA', inplace=True)

In [8]:
dftrain.isnull().sum()

HURUF    0
Z1       0
Z2       0
Z3       0
Z4       0
Z5       0
Z6       0
Z7       0
Z8       0
Z9       0
Z10      0
Z11      0
Z12      0
Z13      0
Z14      0
Z15      0
Z16      0
dtype: int64

## Cek Kesamaan Jumlah Data

In [9]:
dftrain.describe()

,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,167.551111,117.206667,160.411111,202.644444,123.248889,127.000000,107.164444,150.871111,119.808889,138.537778,129.624444,146.600000,94.586667,152.553333,120.833333,99.691111
std,89.893742,93.541146,102.802630,86.359392,73.046681,77.899541,82.892689,67.510760,73.077156,88.554060,98.459962,64.726149,62.378633,91.440674,86.510327,56.594798
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,100.000000,49.000000,81.250000,140.000000,71.000000,73.000000,47.000000,104.000000,73.000000,79.000000,61.000000,95.250000,54.000000,88.250000,61.250000,59.250000
50%,151.500000,91.000000,149.500000,189.000000,110.000000,116.500000,101.500000,142.000000,105.500000,122.500000,113.000000,139.500000,81.500000,137.500000,110.000000,93.000000
75%,232.000000,165.750000,225.750000,252.000000,163.000000,166.500000,155.750000,194.750000,159.750000,181.000000,184.000000,194.000000,123.000000,206.000000,177.000000,131.000000
max,528.000000,504.000000,457.000000,599.000000,427.000000,537.000000,403.000000,366.000000,423.000000,463.000000,523.000000,370.000000,342.000000,474.000000,416.000000,310.000000

In [42]:
dftrain[9:10]

,No,HURUF,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
9,1,HA,359,0,236,359,280,0,153,268,295,0,163,265,180,255,160,212

.

# Data Training