# TEAM 2

#### import library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tkinter

Mengambil data, data telah dibagi oleh panitia dengan 70% data train dan 30% data test

In [3]:
dftrain = pd.read_csv('data_train.csv', delimiter=';')
dftest = pd.read_csv('data_test.csv', delimiter=';')

Menampilkan table dari train dan test

In [4]:
dftrain.head(10)

,No,HURUF,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
0,1,HA,274,72,222,170,160,180,105,138,110,214,104,131,105,242,114,123
1,1,HA,114,3,77,87,56,51,104,94,56,45,164,61,36,92,110,31
2,1,HA,279,182,348,286,322,191,170,181,316,157,203,179,300,302,185,176
3,1,HA,92,53,202,117,67,76,153,83,66,75,146,78,56,142,90,60
4,1,HA,280,35,255,191,155,153,218,163,131,237,207,160,103,264,117,133
5,1,HA,145,85,208,226,72,157,69,151,77,170,61,151,72,84,27,66
6,1,HA,152,36,181,151,91,57,88,55,84,46,62,60,95,110,48,52
7,1,HA,195,27,204,216,78,71,84,165,82,73,70,176,59,199,36,158
8,1,HA,367,136,353,203,252,274,187,149,288,250,164,164,233,312,125,45
9,1,HA,359,0,236,359,280,0,153,268,295,0,163,265,180,255,160,212

In [5]:
dftest.head(10)

,No. Urut,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
0,1.0,192.0,200.0,68.0,280.0,148.0,188.0,343.0,253.0,166.0,187.0,156.0,313.0,148.0,76.0,16.0,146.0
1,2.0,142.0,87.0,0.0,234.0,150.0,297.0,0.0,225.0,96.0,278.0,0.0,240.0,96.0,88.0,168.0,114.0
2,3.0,149.0,160.0,67.0,224.0,135.0,155.0,159.0,157.0,139.0,136.0,159.0,150.0,136.0,158.0,248.0,179.0
3,4.0,177.0,100.0,167.0,170.0,91.0,104.0,92.0,95.0,101.0,210.0,97.0,108.0,90.0,240.0,200.0,98.0
4,5.0,273.0,62.0,341.0,344.0,196.0,39.0,143.0,252.0,224.0,0.0,120.0,234.0,159.0,95.0,118.0,47.0
5,6.0,213.0,0.0,186.0,128.0,189.0,6.0,169.0,166.0,166.0,49.0,186.0,161.0,130.0,173.0,124.0,15.0
6,7.0,0.0,0.0,236.0,151.0,185.0,0.0,281.0,44.0,204.0,0.0,109.0,138.0,186.0,189.0,197.0,81.0
7,8.0,231.0,248.0,0.0,328.0,311.0,152.0,11.0,305.0,316.0,145.0,3.0,301.0,260.0,115.0,208.0,225.0
8,9.0,234.0,11.0,112.0,150.0,262.0,201.0,194.0,332.0,215.0,48.0,181.0,225.0,116.0,38.0,185.0,94.0
9,10.0,267.0,190.0,252.0,252.0,185.0,0.0,179.0,182.0,185.0,0.0,189.0,194.0,180.0,0.0,149.0,175.0

##### melakukan data cleaning

In [6]:
dftrain['HURUF'].unique()

array(['HA', nan, 'CA', 'RA', 'KA', 'DA', 'LA', 'TA', 'SA', 'WA', 'PA',
       'DHA', 'JA', 'YA', 'NYA', 'MA', 'GA', 'BA', 'THA', 'NGA'],
      dtype=object)

In [7]:
dftest.drop('No. Urut', axis=1, inplace=True)

In [8]:
dftrain.isnull().sum()

No        0
HURUF    24
Z1        0
Z2        0
Z3        0
Z4        0
Z5        0
Z6        0
Z7        0
Z8        0
Z9        0
Z10       0
Z11       0
Z12       0
Z13       0
Z14       0
Z15       0
Z16       0
dtype: int64

In [9]:
dftrain.fillna('NA', inplace=True)

In [10]:
dftrain['HURUF'][20:50].isnull()

20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: HURUF, dtype: bool

menampilkan informasi dari data train

In [11]:
dftrain.describe()

,No,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,10.168889,167.551111,117.206667,160.411111,202.644444,123.248889,127.000000,107.164444,150.871111,119.808889,138.537778,129.624444,146.600000,94.586667,152.553333,120.833333,99.691111
std,5.864689,89.893742,93.541146,102.802630,86.359392,73.046681,77.899541,82.892689,67.510760,73.077156,88.554060,98.459962,64.726149,62.378633,91.440674,86.510327,56.594798
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,100.000000,49.000000,81.250000,140.000000,71.000000,73.000000,47.000000,104.000000,73.000000,79.000000,61.000000,95.250000,54.000000,88.250000,61.250000,59.250000
50%,9.000000,151.500000,91.000000,149.500000,189.000000,110.000000,116.500000,101.500000,142.000000,105.500000,122.500000,113.000000,139.500000,81.500000,137.500000,110.000000,93.000000
75%,15.000000,232.000000,165.750000,225.750000,252.000000,163.000000,166.500000,155.750000,194.750000,159.750000,181.000000,184.000000,194.000000,123.000000,206.000000,177.000000,131.000000
max,20.000000,528.000000,504.000000,457.000000,599.000000,427.000000,537.000000,403.000000,366.000000,423.000000,463.000000,523.000000,370.000000,342.000000,474.000000,416.000000,310.000000

.

.

# DATA PREPROCESSING

# MinMaxScaler

Rumus minmax scaler :
    x = (x(old) - x(min)) / (x(max) - x(min))
    
    x(old) = Merupakan nilai awal / lama
    x(min) = Merupakan nilai minimum atau terkecil
    x(max) = Merupakan nilai maximum atau terbesar

*Mengambil kolom dataframe

In [12]:
cols = dftrain.columns[2:]
cols

Index(['Z1', 'Z2', 'Z3', 'Z4', 'Z5', 'Z6', 'Z7', 'Z8', 'Z9', 'Z10', 'Z11',
       'Z12', 'Z13', 'Z14', 'Z15', 'Z16'],
      dtype='object')

*Menyalin dataframe dan diolah menjadi sekala MinMax

In [13]:
dfmms = dftrain.copy()
for a in cols:
    dfmms[a] = (dftrain[a] - dftrain[a].min()) / (dftrain[a].max() - dftrain[a].min())

In [14]:
dfmms.tail()

,No,HURUF,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
445,20,NGA,0.229167,0.170635,0.124726,0.300501,0.175644,0.141527,0.000000,0.218579,0.198582,0.170626,0.000000,0.208108,0.166667,0.109705,0.242788,0.270968
446,20,NGA,0.250000,0.309524,0.378556,0.410684,0.306792,0.232775,0.220844,0.349727,0.271868,0.259179,0.000000,0.321622,0.134503,0.297468,0.314904,0.341935
447,20,NGA,0.327652,0.000000,0.402626,0.393990,0.351288,0.197393,0.000000,0.284153,0.260047,0.285097,0.003824,0.305405,0.175439,0.229958,0.110577,0.329032
448,20,NGA,0.098485,0.208333,0.741794,0.265442,0.236534,0.216015,0.151365,0.338798,0.238771,0.252700,0.000000,0.337838,0.280702,0.620253,0.206731,0.364516
449,20,NGA,0.202652,0.000000,0.713348,0.332220,0.480094,0.016760,0.158809,0.387978,0.626478,0.010799,0.376673,0.354054,0.502924,0.493671,0.516827,0.309677

.

#  Z score

Rumus Z score :
    x = (x(old) - x(mean)) / x(std)
    
    x(old) = Merupakan nilai awal / lama
    x(mean) = Merupakan rata-rata nilai
    x(std) = Merupakan standart deviasi nilai

*Mengambil nilai std yang disediakan oleh pandas

In [15]:
dftrain.describe()

,No,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,10.168889,167.551111,117.206667,160.411111,202.644444,123.248889,127.000000,107.164444,150.871111,119.808889,138.537778,129.624444,146.600000,94.586667,152.553333,120.833333,99.691111
std,5.864689,89.893742,93.541146,102.802630,86.359392,73.046681,77.899541,82.892689,67.510760,73.077156,88.554060,98.459962,64.726149,62.378633,91.440674,86.510327,56.594798
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,100.000000,49.000000,81.250000,140.000000,71.000000,73.000000,47.000000,104.000000,73.000000,79.000000,61.000000,95.250000,54.000000,88.250000,61.250000,59.250000
50%,9.000000,151.500000,91.000000,149.500000,189.000000,110.000000,116.500000,101.500000,142.000000,105.500000,122.500000,113.000000,139.500000,81.500000,137.500000,110.000000,93.000000
75%,15.000000,232.000000,165.750000,225.750000,252.000000,163.000000,166.500000,155.750000,194.750000,159.750000,181.000000,184.000000,194.000000,123.000000,206.000000,177.000000,131.000000
max,20.000000,528.000000,504.000000,457.000000,599.000000,427.000000,537.000000,403.000000,366.000000,423.000000,463.000000,523.000000,370.000000,342.000000,474.000000,416.000000,310.000000

*Atau mencari sendiri Standart deviasi

In [16]:
np.sqrt(np.sum((dftrain['Z1'] - dftrain['Z1'].mean())**2) / (len(dftrain['Z1']) - 1))

89.89374232768276

Rumus Standard Deviasi :

x = akar((x - rata2)^2 / jumlah)

.

*Eksekusi rumus ZScore

In [17]:
dfz = dftrain.copy()
for i in cols:
    df_std = np.sqrt(np.sum((dftrain[i] - dftrain[i].mean())**2) / (len(dftrain[i]) - 1))
    
    
    dfz[i] = (dftrain[i]-dftrain[i].mean()) / df_std

In [18]:
dfz.head()

,No,HURUF,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
0,1,HA,1.184164,-0.483281,0.599098,-0.378007,0.503118,0.680363,-0.026111,-0.190653,-0.134226,0.852160,-0.260252,-0.241015,0.166938,0.978193,-0.078989,0.411856
1,1,HA,-0.595716,-1.220924,-0.811371,-1.339107,-0.920629,-0.975616,-0.038175,-0.842401,-0.873171,-1.056279,0.349132,-1.322495,-0.939210,-0.662214,-0.125226,-1.213735
2,1,HA,1.239785,0.692672,1.824748,0.965217,2.720878,0.821571,0.758035,0.446283,2.684712,0.208485,0.745232,0.500570,3.293008,1.634357,0.741723,1.348338
3,1,HA,-0.840449,-0.686400,0.404551,-0.991721,-0.770040,-0.654689,0.552951,-1.005338,-0.736330,-0.717503,0.166317,-1.059850,-0.618588,-0.115412,-0.356412,-0.701321
4,1,HA,1.250909,-0.878829,0.920102,-0.134837,0.434669,0.333763,1.337097,0.179659,0.153141,1.111888,0.785858,0.207026,0.134875,1.218787,-0.044311,0.588550

.

### Data hasil Preprocessing

In [19]:
dfmms

,No,HURUF,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
0,1,HA,0.518939,0.142857,0.485777,0.283806,0.374707,0.335196,0.260546,0.377049,0.260047,0.462203,0.198853,0.354054,0.307018,0.510549,0.274038,0.396774
1,1,HA,0.215909,0.005952,0.168490,0.145242,0.131148,0.094972,0.258065,0.256831,0.132388,0.097192,0.313576,0.164865,0.105263,0.194093,0.264423,0.100000
2,1,HA,0.528409,0.361111,0.761488,0.477462,0.754098,0.355680,0.421836,0.494536,0.747045,0.339093,0.388145,0.483784,0.877193,0.637131,0.444712,0.567742
3,1,HA,0.174242,0.105159,0.442013,0.195326,0.156909,0.141527,0.379653,0.226776,0.156028,0.161987,0.279159,0.210811,0.163743,0.299578,0.216346,0.193548
4,1,HA,0.530303,0.069444,0.557987,0.318865,0.362998,0.284916,0.540943,0.445355,0.309693,0.511879,0.395793,0.432432,0.301170,0.556962,0.281250,0.429032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,20,NGA,0.229167,0.170635,0.124726,0.300501,0.175644,0.141527,0.000000,0.218579,0.198582,0.170626,0.000000,0.208108,0.166667,0.109705,0.242788,0.270968
446,20,NGA,0.250000,0.309524,0.378556,0.410684,0.306792,0.232775,0.220844,0.349727,0.271868,0.259179,0.000000,0.321622,0.134503,0.297468,0.314904,0.341935
447,20,NGA,0.327652,0.000000,0.402626,0.393990,0.351288,0.197393,0.000000,0.284153,0.260047,0.285097,0.003824,0.305405,0.175439,0.229958,0.110577,0.329032
448,20,NGA,0.098485,0.208333,0.741794,0.265442,0.236534,0.216015,0.151365,0.338798,0.238771,0.252700,0.000000,0.337838,0.280702,0.620253,0.206731,0.364516
449,20,NGA,0.202652,0.000000,0.713348,0.332220,0.480094,0.016760,0.158809,0.387978,0.626478,0.010799,0.376673,0.354054,0.502924,0.493671,0.516827,0.309677

In [20]:
dfmms[cols].describe()

,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,0.317332,0.232553,0.351009,0.338305,0.288639,0.236499,0.265917,0.412216,0.283236,0.299218,0.247848,0.396216,0.276569,0.321842,0.290465,0.321584
std,0.170253,0.185598,0.224951,0.144173,0.171070,0.145064,0.205689,0.184456,0.172759,0.191261,0.188260,0.174936,0.182394,0.192913,0.207958,0.182564
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.189394,0.097222,0.177790,0.233723,0.166276,0.135940,0.116625,0.284153,0.172577,0.170626,0.116635,0.257432,0.157895,0.186181,0.147236,0.191129
50%,0.286932,0.180556,0.327133,0.315526,0.257611,0.216946,0.251861,0.387978,0.249409,0.264579,0.216061,0.377027,0.238304,0.290084,0.264423,0.300000
75%,0.439394,0.328869,0.493982,0.420701,0.381733,0.310056,0.386476,0.532104,0.377660,0.390929,0.351816,0.524324,0.359649,0.434599,0.425481,0.422581
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

.

In [21]:
dfz

,No,HURUF,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
0,1,HA,1.184164,-0.483281,0.599098,-0.378007,0.503118,0.680363,-0.026111,-0.190653,-0.134226,0.852160,-0.260252,-0.241015,0.166938,0.978193,-0.078989,0.411856
1,1,HA,-0.595716,-1.220924,-0.811371,-1.339107,-0.920629,-0.975616,-0.038175,-0.842401,-0.873171,-1.056279,0.349132,-1.322495,-0.939210,-0.662214,-0.125226,-1.213735
2,1,HA,1.239785,0.692672,1.824748,0.965217,2.720878,0.821571,0.758035,0.446283,2.684712,0.208485,0.745232,0.500570,3.293008,1.634357,0.741723,1.348338
3,1,HA,-0.840449,-0.686400,0.404551,-0.991721,-0.770040,-0.654689,0.552951,-1.005338,-0.736330,-0.717503,0.166317,-1.059850,-0.618588,-0.115412,-0.356412,-0.701321
4,1,HA,1.250909,-0.878829,0.920102,-0.134837,0.434669,0.333763,1.337097,0.179659,0.153141,1.111888,0.785858,0.207026,0.134875,1.218787,-0.044311,0.588550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,20,NGA,-0.517846,-0.333614,-1.005919,-0.262212,-0.660521,-0.654689,-1.292809,-1.049775,-0.490015,-0.672333,-1.316519,-1.075300,-0.602557,-1.099657,-0.229260,-0.277254
446,20,NGA,-0.395479,0.414719,0.122457,0.502036,0.106112,-0.025674,-0.219132,-0.338777,-0.065806,-0.209339,-1.316519,-0.426412,-0.778899,-0.126348,0.117520,0.111475
447,20,NGA,0.060615,-1.252996,0.229458,0.386241,0.366219,-0.269578,-1.292809,-0.694276,-0.134226,-0.073828,-1.296207,-0.519110,-0.554463,-0.476302,-0.865022,0.040797
448,20,NGA,-1.285419,-0.130495,1.737202,-0.505382,-0.304585,-0.141208,-0.556918,-0.398027,-0.257384,-0.243216,-1.316519,-0.333714,0.022657,1.546868,-0.402649,0.235161
449,20,NGA,-0.673585,-1.252996,1.610746,-0.042201,1.119163,-1.514771,-0.520727,-0.131403,1.986819,-1.507980,0.684294,-0.241015,1.241023,0.890705,1.088502,-0.065220

In [22]:
dfz[cols].describe()

,Z1,Z2,Z3,Z4,Z5,Z6,Z7,Z8,Z9,Z10,Z11,Z12,Z13,Z14,Z15,Z16
count,4.500000e+02,4.500000e+02,4.500000e+02,4.500000e+02,4.500000e+02,450.000000,4.500000e+02,4.500000e+02,4.500000e+02,4.500000e+02,4.500000e+02,4.500000e+02,4.500000e+02,4.500000e+02,4.500000e+02,4.500000e+02
mean,-1.973730e-17,7.105427e-17,1.578984e-16,-1.578984e-17,4.736952e-17,0.000000,4.736952e-17,8.289665e-17,4.736952e-17,-1.578984e-16,9.473903e-17,7.500173e-17,-1.164501e-16,-8.881784e-17,4.736952e-17,-1.973730e-17
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.863880e+00,-1.252996e+00,-1.560379e+00,-2.346525e+00,-1.687262e+00,-1.630305,-1.292809e+00,-2.234771e+00,-1.639485e+00,-1.564443e+00,-1.316519e+00,-2.264927e+00,-1.516331e+00,-1.668331e+00,-1.396750e+00,-1.761489e+00
25%,-7.514551e-01,-7.291622e-01,-7.700300e-01,-7.253924e-01,-7.152808e-01,-0.693200,-7.258112e-01,-6.942762e-01,-6.405406e-01,-6.723326e-01,-6.969782e-01,-7.933424e-01,-6.506501e-01,-7.032246e-01,-6.887424e-01,-7.145729e-01
50%,-1.785565e-01,-2.801619e-01,-1.061365e-01,-1.579961e-01,-1.813756e-01,-0.134789,-6.833467e-02,-1.314029e-01,-1.958052e-01,-1.811072e-01,-1.688447e-01,-1.096929e-01,-2.097941e-01,-1.646240e-01,-1.252259e-01,-1.182284e-01
75%,7.169452e-01,5.189517e-01,6.355760e-01,5.715135e-01,5.441878e-01,0.507063,5.861259e-01,6.499540e-01,5.465608e-01,4.795062e-01,5.522606e-01,7.323161e-01,4.554979e-01,5.844955e-01,6.492481e-01,5.532114e-01
max,4.009722e+00,4.135007e+00,2.885032e+00,4.589606e+00,4.158315e+00,5.263189,3.568898e+00,3.186587e+00,4.148918e+00,3.664002e+00,3.995284e+00,3.451464e+00,3.966315e+00,3.515358e+00,3.411924e+00,3.716046e+00

### Mempersiapkan data untuk training nanti

In [23]:
dftest.dropna(inplace=True)

In [24]:
x = dfmms.drop(['HURUF'], axis=1)
y = dfmms.HURUF

In [25]:
x.shape

(450, 17)

In [26]:
dftest.shape

(150, 16)